@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}

  html, body, :root {
    height: 100%;
    background-color: #000;
    color-scheme: dark;
  }

  img {
    @apply max-w-[inherit] h-auto;
  }
}

@layer utilities {
  .gradient-text {
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffbd5, #ff6b7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffbd5, #ff6b7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .gradient-text-blue {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .gradient {
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffbd5, #ff6b7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffbd5, #ff6b7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .primary-gradient {
    background: #a01c2e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fa5c71, #940a1c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa5c71, #940a1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .border-custom::after {
    content: "";
    display: block;
    border-top: 1px solid rgb(115 115 115 / 1); /* Replace with your border color */
    width: 99%; /* Adjust to control the width of the border */
    margin: 0 auto;
  }

  .w-calc-320 {
    width: calc(100% - 320px);
  }

  .custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #FF5D73;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #ffffff;
	}

  .grid-songlist {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@layer components {
  /* Sidebar */
  .sidebar-link {
    @apply flex flex-row h-auto items-center w-full gap-x-4 text-neutral-400 text-base font-medium cursor-pointer hover:text-white transition py-1
  }

  .sidebar-link_active {
    @apply text-white;
  }

  /* Player */
  #player {
    /* background: rgba(0, 0, 0, .3); */
    background-color: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(30px);
  }

  /* Homepage */

  /* Modal */
  .modal-content {
    @apply fixed drop-shadow-md border border-neutral-800 top-[50%] left-[50%] max-h-full h-full md:h-auto md:max-h-[85vh] w-full md:w-[90vw] md:max-w-[450px] translate-x-[-50%] translate-y-[-50%] rounded-md bg-black/10 backdrop-filter backdrop-blur-2xl p-[25px] focus:outline-none;
  }

  .modal-close {
    @apply absolute top-[10px] right-[10px] inline-flex h-[25px] w-[25px] appearance-none items-center justify-center rounded-full text-neutral-400 hover:text-white focus:outline-none;
  }

  .subscribe-modal h2{
    @apply gradient-text text-3xl font-black;
  }

  .subscribe-modal p {
    @apply text-white;
  }

  .artist-modal{
    @apply max-w-[800px] max-h-full md:max-h-[700px] overflow-scroll z-[99];
  }

  /* Dropdown Menu */
  .dropdown-content-desktop {
    @apply min-w-[200px] bg-neutral-800/80 rounded-md shadow-custom animate-slide-up-and-fade transform-gpu opacity-100 shadow-black backdrop-filter backdrop-blur-xl flex flex-col p-2 gap-3 absolute -left-3 top-2;
  }

  .dropdown-content-mobile {
    @apply w-full bg-neutral-800/80 rounded-md shadow-custom animate-slide-up-and-fade transform-gpu opacity-100 shadow-black backdrop-filter backdrop-blur-xl flex flex-col p-4 gap-3;
  }

  .dropdown-item {
    @apply md:text-sm leading-none text-white rounded-sm flex items-center relative p-2 select-none outline-none cursor-pointer hover:bg-neutral-700;
  }

  /* Shuffle Icon */
  .icon-container {
    position: relative;
  }

  .icon-container.is-active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: rgba(255 93 115 / 0.9);
    border-radius: 50%;
  }

  .icon-container:hover.is-shuffled::after {
    background-color: rgba(255 93 115 / 0.91);
  }

}
