@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}

  html, body, :root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
  }
}

@layer utilities {

}

@layer components {
  /* Sidebar */
  .sidebar-link {
    @apply flex flex-row h-auto items-center w-full gap-x-4 text-neutral-400 text-base font-medium cursor-pointer hover:text-white transition py-1
  }

  .sidebar-link_active {
    @apply text-white;
  }

  /* Modal */
  .modal-content {
    @apply fixed drop-shadow-md border border-neutral-700 top-[50%] left-[50%] max-h-full h-full md:h-auto md:max-h-[85vh] w-full md:w-[90vw] md:max-w-[450px] translate-x-[-50%] translate-y-[-50%] rounded-md bg-neutral-800 p-[25px] focus:outline-none;
  }

  .modal-close {
    @apply absolute top-[10px] right-[10px] inline-flex h-[25px] w-[25px] appearance-none items-center justify-center rounded-full text-neutral-400 hover:text-white focus:outline-none;
  }

  /* Shuffle Icon */
  .icon-container {
    position: relative;
  }

  .icon-container.is-active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: rgba(34 197 94 / 0.9);
    border-radius: 50%;
  }

  .icon-container:hover.is-shuffled::after {
    background-color: rgba(34 197 94 / 1);
  }

}
